/*-----------------------------
GÉNÉRIQUE
-----------------------------*/
html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

/*-----------------------------
ÉLÉMENTS
-----------------------------*/
body{
    padding: 0;
    margin: 0;

    font-family: "Roboto";
}

h1{
    color: #ffffff;
    font-family: "Dosis";
}

h2{
    font-family: "Dosis";
    font-weight: bold;
    font-size: 36px;
    color: #0E5EA1;
}


h3{
    color: #000000;
    font-weight: bold;
    font-family: "Dosis";
    font-size: 24px;
}



/*-----------------------------
COMPONENTS
-----------------------------*/


/* wrapper */

.wrapper{
    max-width: 1080px;
    margin:0 auto;
}

/* header */


.header{
    padding-top: 8px;
    padding-bottom: 8px;
}



.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: "Dosis";
    font-size: 40px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}



nav{
    font-size: 16px;
    font-weight: bold;
    font-family: "Dosis";
}





/* menu */

.menu{
    display: flex;
    gap:30px;
    list-style-type: none;
}

.menu a{
color: #000000;
text-decoration: none;
}

.menu a:hover{
    background-color: #0E5EA1;
    color: #ffffff;

}

/* hero */

.hero{
    background-image: url(../images/section.hero1.jpg);
    padding: 134px;
}

/* contenu */
article{
    background-color: #ffffff;
}
/* footer */



footer{
    color: #ffffff;
   background-color: #000000; 
}