/*-----------------------------
GÉNÉRIQUE
-----------------------------*/
html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

/*-----------------------------
ÉLÉMENTS
-----------------------------*/
body{
    padding: 0;
    margin: 0;
    background-color: #eeeeee;

    font-family: "Roboto";
}

h1{
    color: #ffffff;
    font-family: "Dosis";
    font-size: 50px;
    font-weight: bold;
}

h2{
    font-family: "Dosis";
    font-weight: bold;
    font-size: 36px;
    color: #0E5EA1;
}


h3{
    color: #000000;
    font-weight: bold;
    font-family: "Dosis";
    font-size: 24px;
}

a{
    text-transform: uppercase;
}



/*-----------------------------
COMPONENTS
-----------------------------*/


/* wrapper */

.wrapper{
    max-width: 1080px;
    margin:0 auto;
}

/* header */


.header{
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #ffffff;
}



.header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 30px;
    font-family: "Dosis";
    font-size: 40px;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}



nav{
    font-size: 16px;
    font-weight: bold;
    font-family: "Dosis";
    
}





/* menu */

.menu{
    display: flex;
    gap:20px;
    list-style-type: none;
}

.menu a{
color: #000000;
text-decoration: none;
padding: 4px 11px;
border-radius: 5px;
}

.menu a:hover{
    background-color: #0E5EA1;
    color: #ffffff;

}

/* hero */

.hero{
    background-image: url(../images/section.hero1.jpg);
    
    
}

.hero .wrapper{
    height: 450px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.hero p{
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
}

.content{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 40px;

}

/* contenu */
article{
    background-color: #ffffff;
    padding: 20px;
    gap: 25px;
}

article a{
    color: #000000;
    background-color: #B7B7B7;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family: "Dosis";
    padding: 5px 20px;
    border-radius: 5px;
}

article a:hover{
    background-color: #0E5EA1;
    color: #ffffff;
}

.conteneur-carte{
    display: flex;
    gap: 30px;
}
/* footer */



footer{
    color: #ffffff;
   background-color: #000000; 
}