/*-----------------------------
GÉNÉRIQUE
-----------------------------*/
html{
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}

/*-----------------------------
COMPONENTS
-----------------------------*/

.wrapper{
    max-width: 1200px;
    padding-right: auto;
    padding-left: auto;
}


.hero{
    background-image: url(../images/section.hero.jpg);
}

.menu{
    display: flex;
}
nav{
    display: flex;
    justify-content: flex-end;
}


h2{
    color: #0E5EA1;
}

/*-----------------------------
ÉLÉMENTS
-----------------------------*/